.movies-list__container {
    background-color: #202020;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 32px;
    padding: 70px 70px 10px 70px;
}

@media screen and (max-width: 1279px) {
    .movies-list__container {
        grid-template-columns: auto auto;
        row-gap: 35px;
        column-gap: 24px;
        padding: 54px 30px 30px 30px;
    }
}

@media screen and (max-width: 767px) {
    .movies-list__container {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        padding: 39px 10px 30px 10px;
    }
}