.movies-list {
    background-color: #202020;
    margin: 0 auto;
}

.movies-list__container {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    row-gap: 32px;
    column-gap: 28px;
    padding: 79px 70px 10px 70px;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 0px;
}

.movies-list__black-square {
    height: 219px;
    background-color: #202020;
}

@media screen and (max-width: 1279px) {
    .movies-list__container {
        grid-template-columns: 342px 342px;
        row-gap: 35px;
        column-gap: 24px;
        padding: 81px 30px 30px 30px;
    }

    .movies-list__black-square {
        height: 149px;
    }
}

@media screen and (max-width: 767px) {
    .movies-list__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 14px;
        padding: 50px 10px 30px 10px;
    }

    .movies-list__black-square {
        height: 161px;
    }
}