.navigation__container {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    padding-top: 21px;
}

.navigation__items {
    display: flex;
    color: white;
    display: flex;
    align-items: center;
}

.navigation__register {

    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin: 0;
}

.navigation__movies {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

.navigation__save-movies {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    padding-right: 50px;
    color: white;
    text-decoration: none;
}

.navigation__button {
    display: none;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    background-color: #3DDC84;
    border-radius: 3px;
    padding: 8px 20px 8px 20px;
    border: none;
}

.navigation__account {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    column-gap: 13px;
}

.navigation__account-img {
    display: flex;
    height: 20px;
    width: 20px;
    border-radius: 6px;
    background-color: #313131;
    padding: 5px 5px 5px 5px;
}
.navigation__burger-menu{
    display: none;
}

@media screen and (max-width: 1279px) {
    .navigation__items {
        display: none;
    }
    .navigation__burger-menu{
        display: flex;
    }
}

@media screen and (max-width: 767px) {
    .navigation__container {
        column-gap: 14px;
        padding-top: 21px;
    }

    .navigation__button {
        padding: 5px 12px 5px 12px;
        font-size: 10px;
    }

    .navigation__register {
        font-size: 10px;
    }
}