.title {
    color: #FFFFFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    padding-top: 110px;
    padding-bottom: 23px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid #DADADA;
    margin-left: 70px;
    margin-right: 70px;
}