.search-form {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    max-width: 1280px;
}

.search-form__quest {
    border-radius: 8px;
    border: 1.5px solid rgba(170, 170, 170, 0.2);
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    margin: 70px 70px 24px 70px;
}

.search-form__input {
    background-color: #202020;
    border: none;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #8B8B8B;
}

.search-form__button {
    border-radius: 5px;
    background: #4285F4;
    padding: 17px 20px 17px 20px;
    margin: 10px 10px 10px 0px;
    border: none;
    color: white;
    width: 100px;
    font-size: 14px;
}

.search-form__button:hover {
    cursor: pointer;
}

.search-form__button:active {
    opacity: 0.8;
}

.search-form__short {
    display: flex;
    flex-direction: row;
    column-gap: 14px;
    align-items: center;
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
    padding-bottom: 44px;
    margin-left: 70px;
    margin-right: 70px;
}

.search-form__short-text {
    font-size: 13px;
    line-height: 18px;
    color: white;
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .search-form__quest {
        margin: 70px 30px 26px 30px;
    }

    .search-form__short {
        padding-bottom: 50px;
        margin-left: 30px;
    }
    .search-form__quest{
        margin: 70px 30px 24px 30px;
    }
}

@media screen and (max-width: 767px) {
    .search-form__quest {
        margin: 70px 14px 28px 14px;
    }

    .search-form__short {
        padding-bottom: 63px;
        margin-left: 14px;
    }

    .search-form__input {
        font-size: 16px;
        line-height: 16px;
        margin-left: 12px;
        margin-top: 20px;
        margin-bottom: 15px;
        padding: 0px;
        width: 193px;
    }

    .search-form__button {
        padding: 10px 13px 10px 13px;
        margin: 6px 6px 6px 0px;
        width: 80px;
        height: 44px;
    }

    .search-form__short-text {
        font-size: 11px;
    }
}