.filter-checkbox {
    position: relative;
    display: flex;
    width: 36px;
    height: 20px;
    z-index: 0;
}

/* .filter-checkbox__container{
    display: none;
} */
.filter-checkbox__input {
    display: none;
}


.filter-checkbox__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 15px;
}

.filter-checkbox__slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 5px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.filter-checkbox__slider {
    background-color: #2BE080;
}

input:focus+.filter-checkbox__slider {
    box-shadow: 0 0 1px #2BE080;
}

input:checked+.filter-checkbox__slider:before {
    transform: translateX(20px);
}