.footer {
    background-color: #202020;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 13px;
}

.footer__about {
    color: #8B8B8B;
    text-align: center;
    padding-top: 79px;
    border-bottom: 1px solid #424242;
    margin: 0 70px 0 70px;
    padding-bottom: 20px;
}

.footer__elements {
    color: #FFF;
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding: 20px 70px 20px 70px;
}

.footer__year {
    margin: 0;
}

.footer__items {
    column-gap: 20px;
    display: flex;
}

.footer__item {
    margin: 0;
}
@media screen and (max-width: 1279px) {
    .footer__about {
        margin: 0 30px 0 30px;
    }
    .footer__elements {
        padding: 20px 30px 20px 30px;
    }
}