.login {
    background-color: #202020;
    height: 100vh;
    font-family: Inter,Arial,sans-serif;
    font-style: normal;
    line-height: normal;
}

.login__form {
    padding-bottom: 70px;
    background-color: #202020;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login__container {
    width: 396px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-size: 11px;
    background-color: #202020;
}

.login__logo {
    padding-top: 70px;
    padding-bottom: 40px;
}

.login__title {
    font-size: 24px;
    font-weight: 500;
    padding-top: 0px;
    padding-bottom: 37px;
    margin: 0;
}

.login__input-container {
    background-color: #202020;
    width: 396px;
    margin-bottom: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.login__email {
    background-color: #202020;
    border: none;
    text-align: left;
    color: white;
    margin: 0;
    padding: 0;
}
.login__email-error{
    color: white;
}
.login__password {
    background-color: #202020;
    border: none;
    color: white;
}

.login__title-email {
    margin: 0;
    color: white;
    padding-bottom: 10px;
    color: #8B8B8B;
    font-size: 10px;
    font-weight: 400;
}

.login__title-password {
    color: #8B8B8B;
    font-size: 10px;
    font-weight: 400;
    margin: 0;
}

.login__button-login {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: white;
    background-color: #4285F4;
    padding: 15px 178px 15px 176px;
    border-radius: 3px;
    border: none;
    margin-top: 217px;
    margin-bottom: 16px;
}
.login__button-login:active{
    opacity: 0.8;
}
.login__button-login:hover{
    cursor: pointer;
}
.login__enter {
    display: flex;
    justify-content: center;
}

.login__enter-text {
    font-size: 14px;
    color: #8B8B8B;
    text-align: center;
    padding: 0;
    margin: 0;
}

.login__button-enter {
    background-color: #202020;
    border: none;
    color: #4285F4;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.login__button-enter:hover {
    cursor: pointer;
}
.login__button-enter:active {
    opacity: 0.7;
}

@media screen and (max-width: 1279px) {
    .login__logo {
        padding-top: 232px;
        padding-bottom: 0;
    }

    .login__title {
        padding-top: 39px;
        padding-bottom: 39px;
        font-size: 24px;
        font-weight: 500;
    }

    .login__form {
        padding-bottom: 231px;
    }
}

@media screen and (max-width: 767px) {
    .login__form {
        padding-bottom: 29px;
    }

    .login__container {
        width: 260px;
        align-items: center;
    }

    .login__logo {
        padding-top: 56px;
    }

    .login__title {
        padding-top: 48px;
        padding-bottom: 81px;
    }

    .login__input-container {
        width: 260px;
        padding-bottom: 10px;
    }

    .login__button-login {
        font-size: 12px;
        font-weight: 500;
        padding: 15px 113px 15px 110px;
        margin-top: 304px;
    }

    .login__enter-text {
        font-size: 12px;
        font-weight: 400;
    }

    .login__button-enter {
        font-size: 12px;
        font-weight: 400;
    }
}